
<!doctype html>

<html>
    <head>
        <title>회원가입 웹페이지</title>
    </head>

    <body>    
        <h1>신규회원가입</h1>

        <form>
            메일주소: <input type="text" id="email" name="email"/>  <br/>
            암호: <input type="text" id="password" name="password"/>  <br/>
            암호확인: <input type="text" id="confirmpassword" name="confirmpassword"/>  <br/>
            이름: <input type="text" id="userName" name="userName"/>  <br/>
            <input type="submit" value="등록"/>  <br/>
        </form>

    </body>
</html>



